* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  font-family: fantasy; }

header .nav {
  width: 100%;
  background-color: gray; }
  header .nav .menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem; }
    header .nav .menu .boton1 {
      padding: 10px;
      margin: 10px; }
    header .nav .menu .boton2 {
      padding: 10px;
      margin: 10px; }
    header .nav .menu .boton3 {
      padding: 10px;
      margin: 10px; }
    header .nav .menu .boton4 {
      padding: 10px;
      margin: 10px; }
    header .nav .menu .boton5 {
      padding: 10px;
      margin: 10px; }
    header .nav .menu:hover {
      background-color: rgba(253, 119, 51, 0.188);
      border-radius: 15%; }
    header .nav .menu a {
      text-decoration: none;
      color: white; }
      header .nav .menu a:hover {
        color: orangered;
        font-weight: bold; }

@media screen and (max-width: 320px) {
  header .nav {
    width: 100%;
    background-color: gray; }
    header .nav .menu {
      line-height: 0%;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(5, 2rem);
      grid-template-areas: "btn1  btn2 btn3 btn4 btn5";
      justify-content: center;
      text-align: center; }
      header .nav .menu .boton1 {
        font-size: 1rem;
        grid-template-areas: btn1; }
        header .nav .menu .boton1:hover {
          background-color: rgba(253, 119, 51, 0.188);
          border-radius: 15%; }
      header .nav .menu .boton2 {
        font-size: 1rem;
        grid-template-areas: btn2; }
        header .nav .menu .boton2:hover {
          background-color: rgba(253, 119, 51, 0.188);
          border-radius: 15%; }
      header .nav .menu .boton3 {
        font-size: 1rem;
        grid-template-areas: btn3; }
        header .nav .menu .boton3:hover {
          background-color: rgba(253, 119, 51, 0.188);
          border-radius: 15%; }
      header .nav .menu .boton4 {
        font-size: 1rem;
        grid-template-areas: btn4; }
        header .nav .menu .boton4:hover {
          background-color: rgba(253, 119, 51, 0.188);
          border-radius: 15%; }
      header .nav .menu .boton5 {
        font-size: 1rem;
        grid-template-areas: btn5; }
        header .nav .menu .boton5:hover {
          background-color: rgba(253, 119, 51, 0.188);
          border-radius: 15%; }
      header .nav .menu a {
        text-decoration: none;
        color: white; }
        header .nav .menu a:hover {
          color: orangered;
          font-weight: bold; } }

main h2 {
  text-align: center;
  padding: 1rem;
  color: orangered;
  font-size: 2rem; }

main img {
  margin-top: rem;
  width: 100%; }

.cards11 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  grid-template-areas: "card card1 card2";
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 4rem; }
  .cards11 .card11 {
    line-height: 25px;
    width: 80%;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 10%;
    grid-template-areas: card; }
    .cards11 .card11 img {
      width: 200px; }
      .cards11 .card11 img:hover {
        padding: 1rem; }
  .cards11 .card22 {
    line-height: 25px;
    width: 80%;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 10%;
    grid-template-areas: card1; }
    .cards11 .card22 img {
      width: 200px; }
      .cards11 .card22 img:hover {
        padding: 1rem; }
  .cards11 .card33 {
    line-height: 25px;
    width: 80%;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 10%;
    grid-template-areas: card2; }
    .cards11 .card33 img {
      width: 200px; }
      .cards11 .card33 img:hover {
        padding: 1rem; }

@media screen and (max-width: 320px) {
  .cards11 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "card"  "card1"  "card2";
    text-align: center;
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
    padding-bottom: 1rem; }
  .img1 {
    height: 150px; } }

.foot {
  display: grid;
  width: 100%;
  justify-content: center;
  padding: 2rem 0px;
  background-color: gray; }
  .foot .logos {
    margin-top: 1rem; }
    .foot .logos .logo {
      padding: 0.3rem;
      background-color: #44bbdf;
      border-radius: 5px;
      color: white; }

h2 {
  font-size: 2rem; }

h3 {
  color: orangered; }

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  grid-template-areas: "card card1 card2";
  text-align: center;
  justify-content: center;
  margin-left: 3.5rem;
  padding-bottom: 6rem; }
  .cards .card {
    line-height: 25px;
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card; }
    .cards .card img {
      width: 200px; }
      .cards .card img:hover {
        padding: 1rem; }
  .cards .card1 {
    line-height: 25px;
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card1; }
    .cards .card1 img {
      width: 200px; }
      .cards .card1 img:hover {
        padding: 1rem; }
  .cards .card2 {
    line-height: 25px;
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card2; }
    .cards .card2 img {
      width: 200px; }
      .cards .card2 img:hover {
        padding: 1rem; }

.cards1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  grid-template-areas: "card3 card4 card5";
  text-align: center;
  justify-content: center;
  margin-left: 3.5rem;
  padding-bottom: 6rem; }
  .cards1 .card3 {
    line-height: 25px;
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card3; }
    .cards1 .card3 img {
      width: 200px; }
      .cards1 .card3 img:hover {
        padding: 1rem; }
  .cards1 .card4 {
    line-height: 25px;
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card4; }
    .cards1 .card4 img {
      width: 200px; }
      .cards1 .card4 img:hover {
        padding: 1rem; }
  .cards1 .card5 {
    line-height: 25px;
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card5; }
    .cards1 .card5 img {
      width: 200px; }
      .cards1 .card5 img:hover {
        padding: 1rem; }

.cards2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  grid-template-areas: "card6 card7 card8";
  text-align: center;
  justify-content: center;
  margin-left: 3.5rem;
  padding-bottom: 6rem; }
  .cards2 .card6 {
    line-height: 25px;
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card6; }
    .cards2 .card6 img {
      width: 200px; }
      .cards2 .card6 img:hover {
        padding: 1rem; }
  .cards2 .card7 {
    line-height: 25px;
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card7; }
    .cards2 .card7 img {
      width: 200px; }
      .cards2 .card7 img:hover {
        padding: 1rem; }
  .cards2 .card8 {
    line-height: 25px;
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card8; }
    .cards2 .card8 img {
      width: 200px; }
      .cards2 .card8 img:hover {
        padding: 1rem; }

@media screen and (max-width: 320px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "card"  "card1"  "card2";
    text-align: center;
    justify-content: center;
    row-gap: 1rem;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 1rem; }
  .cards1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "card3"  "card4"  "card5";
    text-align: center;
    justify-content: center;
    row-gap: 1rem;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 1rem; }
  .cards2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "card6"  "card7"  "card8";
    text-align: center;
    justify-content: center;
    row-gap: 1rem;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 1rem; } }

.cards111 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  grid-template-areas: "card111 card222 card333";
  text-align: center;
  justify-content: center;
  width: 100%; }
  .cards111 .card111 {
    line-height: 25px;
    width: 80%;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 10%;
    grid-template-areas: card111; }
    .cards111 .card111 img {
      width: 200px; }
      .cards111 .card111 img:hover {
        padding: 1rem; }
  .cards111 .card222 {
    line-height: 25px;
    width: 80%;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 10%;
    grid-template-areas: card222; }
    .cards111 .card222 img {
      width: 200px; }
      .cards111 .card222 img:hover {
        padding: 1rem; }
  .cards111 .card333 {
    line-height: 25px;
    width: 80%;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 10%;
    grid-template-areas: card333; }
    .cards111 .card333 img {
      width: 200px; }
      .cards111 .card333 img:hover {
        padding: 1rem; }

@media screen and (max-width: 320px) {
  .cards111 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "card111"  "card222"  "card333";
    text-align: center;
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
    padding-bottom: 1rem; } }

.formularios {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "form1 form2";
  justify-content: center;
  margin-bottom: 4rem;
  margin-left: 20%; }
  .formularios form div .formcontacto1 {
    width: 250px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    line-height: 2rem;
    grid-area: from1; }
  .formularios .formcontacto2 {
    width: 250px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    line-height: 1.5rem;
    grid-area: form2; }

@media screen and (max-width: 320px) {
  .formularios {
    margin-top: 0rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2, 1fr;
    grid-template-areas: "form1"  "form2";
    justify-content: center;
    margin-bottom: 4rem; }
    .formularios form div .formcontacto1 {
      width: 80%;
      padding: 1rem;
      background-color: aqua;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      text-align: center;
      line-height: 2rem;
      grid-area: from1;
      margin-bottom: 2rem; }
    .formularios .formcontacto2 {
      width: 80%;
      padding: 1rem;
      background-color: aqua;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      text-align: center;
      line-height: 1.5rem;
      grid-area: form2; } }

.contactodiv {
  width: 100%; }
  .contactodiv .form3 {
    margin-top: 3rem;
    width: 32%;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    margin-bottom: 4rem;
    align-items: center;
    margin-left: 34%; }

@media screen and (max-width: 320px) {
  .contactodiv {
    width: 100%; }
    .contactodiv .form3 {
      margin-top: 3rem;
      width: 80%;
      background-color: aqua;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      text-align: center;
      margin-bottom: 4rem;
      margin-left: 10%; } }

.titulo, h2 {
  text-align: center;
  padding: 1rem;
  color: orangered;
  margin-bottom: 2rem; }

.titulogeneral {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: orangered;
  margin-bottom: 2rem; }

.cardtitle {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: orangered;
  margin-bottom: 2rem; }

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #009c9c;
  border-radius: 5px; }
