.cards111{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr);
    grid-template-areas:
    "card111 card222 card333"
    ;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
    
    @mixin cardpcarmada {
        line-height: 25px;
            img{
                width: 200px;
                border-radius: 10px;
                &:hover{
                    padding: 1rem;
                    border-radius: 10px;
                }
            }
            width: 80%;
            padding: 1rem;
            background-color: rgba(30, 148, 148, 0.514);
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            margin-left: 10%;
    }
        .card111{
            @include cardpcarmada;
            grid-template-areas: card111;
            }
        .card222{
            @include cardpcarmada;
            grid-template-areas: card222;
            }
        .card333{
            @include cardpcarmada;
            grid-template-areas: card333;
            }
        }


        @media screen and (max-width: 320px){
            .cards111{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-template-areas:
                "card111" 
                "card222" 
                "card333"
                ;
                text-align: center;
                justify-content: center;
                row-gap: 1rem;
                width: 100%;
                
                padding-bottom: 1rem;
                
                @mixin cardpcarmada {
                    line-height: 25px;
                    width: 80%;
                        img{
                            width: 30%;
                            border-radius: 10px;
                            &:hover{
                                padding: 0,5rem;
                                border-radius: 5px;
                            }
                        }
                        width: 80px;
                        
                        background-color: rgba(30, 148, 148, 0.514);
                        border-radius: 15px;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                       
                }
                }
            
        }
