.cards11{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr);
    grid-template-areas:
    "card card1 card2"
    ;
    text-align: center;
    justify-content: center;
   width: 100%;
   margin-bottom: 4rem;

    @mixin cardindex {
        line-height: 25px;
            img{
                width: 200px;
                &:hover{
                    padding: 1rem;
                }
            }
            width: 80%;
            padding: 1rem;
            background-color: aqua;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            margin-left: 10%
            
    }
        .card11{
            @include cardindex;
            grid-template-areas: card;
            }
        .card22{
            @include cardindex;
            grid-template-areas: card1;
            }
        .card33{
            @include cardindex;
            grid-template-areas: card2;
            }
        }


@media screen and (max-width: 320px){
    .cards11{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "card" 
        "card1" 
        "card2"
        ;
        text-align: center;
        justify-content: center;
        row-gap: 1rem;
        width: 100%;
        padding-bottom: 1rem;
        
        @mixin cardindex {
            line-height: 25px;
                img{
                    width: 50%;
                    &:hover{
                        padding: 0,5rem;
                    }
                }
                width: 80px;
                
                background-color: aqua;
                border-radius: 15px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        }
.img1{
    height: 150px;
}    
}
