*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: fantasy
}

@import "header";
@import "main";
@import "card";
@import "footer";
@import "productos";
@import "pcarmada";
@import "iniciosesion";
@import "contacto";

.titulo{
    text-align: center;
    padding: 1rem;
    color: orangered;
    margin-bottom: 2rem;
}

.titulogeneral{
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: orangered;
    margin-bottom: 2rem;
}

.cardtitle{
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: orangered;
    margin-bottom: 2rem;
}
 
button{
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(0, 156, 156);
    border-radius: 5px;
}





