*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: fantasy
}

@import "header";
@import "main";
@import "card";
@import "footer";
@import "productos";
@import "pcarmada";
@import "iniciosesion";
@import "contacto";

.titulo{
    text-align: center;
    padding: 1rem;
    color: orangered;
    
    width: 100%;
}

.titulogeneral{
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: orangered;
    
}

.cardtitle{
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    color: orangered;
    
}
 
button{
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(25, 119, 119, 0.514);
    border-radius: 5px;
    border-color: orangered;
    &:hover{
color: orangered;
font-weight: bolder;


    }
}

.br{
    border-radius: 5px;
}






